{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main-above-boxes %}
<div class="col-md-12">
</div>
{% endblock %}

{% block main %}
  <h1>{{ article.title }}</h1>
  <h4 class="text-muted">{{ article.date_published }}</h4>
  <p>{{ article.contents|safe }}</p>
  <ul class="comments">
    {% for comment in article.top_level_comments %}
      {% include "mesoblog/comment.html" %}
    {% endfor %}
  </ul>
  <form action="{% url 'articleFromSlug' article.slug %}" method="post">{% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
function showCommentReplyField(id) {
  $('#comment-reply-container-'+id).removeClass("hidden");
  $('#comment-reply-form-'+id+' input[name=parent]').val(id);
}
{% for comment in article.top_level_comments %}
  {% include "mesoblog/comment-js.html" %}
{% endfor %}
</script>

{% endblock %}
