{% extends "base.html" %}
{% load floppyforms %}

{% block title %}{{ article.title }}{% endblock %}

{% block main-above-boxes %}
<div class="col-md-12">
</div>
{% endblock %}

{% block main %}
  <h1>{{ article.title }}</h1>
  <h4 class="text-muted">{{ article.date_published }}</h4>
  <p>{{ article.contents|safe }}</p>
  <ul class="comments">
    {% for comment in article.top_level_comments %}
      {% include "mesoblog/comment.html" %}
    {% endfor %}
  </ul>
  <div class="main-comment-form">
    <h4>Leave a Comment</h4>
    <div class="row">
    <form class="form-horizontal" role="form" action="{% url 'articleFromSlug' article.slug %}" method="post">{% csrf_token %}
      {% form comment_form using "floppyforms/layouts/bootstrap3-horizontal.html" %}
     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Post Comment</button>
        </div>
      </div>
    </form>
  </div>
  </div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
function showCommentReplyField(id) {
  $('#comment-reply-form-'+id+' input[name=parent]').val(id);
  if ($('#comment-reply-'+id).html() === "Reply") {
    $('#comment-reply-'+id).html("Hide Reply Form");
  } else {
    $('#comment-reply-'+id).html("Reply");
  }
}
{% for comment in article.top_level_comments %}
  {% include "mesoblog/comment-js.html" %}
{% endfor %}
</script>

{% endblock %}
