<li class="comment" id="comment-{{ comment.id }}">
  <h5><a href="{{ comment.site }}">{{ comment.name }}</a> <small>{{ comment.posted }}</small></h5>
  <p class="comment-contents">{{ comment.contents }}</p>
  <p class="comment-actions"><a href="" onClick="return false;" id="comment-reply-{{ comment.id }}">Reply</a></p>
  <div id="comment-reply-container-{{ comment.id }}" class="hidden">
    <form action="{% url 'articleFromSlug' article.slug %}" method="post" id="comment-reply-form-{{ comment.id }}">{% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="Submit" />
  </form>

  </div>
 <ul class="comment-replies">
    {% for comment in comment.children.all %}
      {% include "mesoblog/comment.html" %}
    {% endfor %}
  </ul>
</li>
