{% load floppyforms %}
{% load markdown %}
<li class="comment" id="comment-{{ comment.id }}">
<h5>{% if comment.site %}<a href="{{ comment.site }}">{% endif %}{{ comment.name }}{% if comment.site %}</a>{% endif %} <small>{{ comment.posted }}</small></h5>
  <p class="comment-contents">{{ comment.contents|markdown_unsafe|safe }}</p>
  <p class="comment-actions"><a href="#" onClick="return false;" id="comment-reply-{{ comment.id }}" data-target="#comment-reply-container-{{ comment.id }}" data-toggle="collapse">Reply</a></p>
  <div id="comment-reply-container-{{ comment.id }}" class="collapse">
    <div class="row">
    <form class="form-horizontal" role="form" action="{% url 'mesoblog.articleFromSlug' article.slug %}" method="post" id="comment-reply-form-{{ comment.id }}">{% csrf_token %}
      {% form comment_form using "floppyforms/layouts/bootstrap3-horizontal.html" %}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Post Comment</button>
        </div>
      </div>
    </form>
  </div>
  </div>
 <ul class="comment-replies">
    {% for comment in comment.children.all %}
      {% if comment.is_spam == False %}
        {% include "mesoblog/comment.html" %}
      {% endif %}
    {% endfor %}
  </ul>
</li>
