{% extends "box.html" %}

{% block box-title %}Archive{% endblock %}

{% block box-content %}
<div class="list-group">
  {% for y in dates %}
  <a href="#" class="list-group-item list-group-item-info" data-target="#archive-year-{{ y.name }}" data-toggle="collapse">{{ y.name }}</a>
  <div class="collapse {% if article.date_published.year == y.year %} in{% endif %}{% if y.name == year %} in{% endif %}" id="archive-year-{{ y.name }}">
    {% for month in y.months %}
    {% if month.count > 0 %}
    <a href="{% url 'archive' y.year month.nameNumber %}" class="list-group-item {% if article.date_published.month == month.month%}active{% endif %}{% if monthNumber == month.nameNumber %}active{% endif %}">
    <span class="badge">{{ month.count }}</span>
    {{ month.name }}
    </a>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
